@{
    int[] sol = new int[] { 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1 };
}

<header style="background:darkred;">
    AIRCOM ADMIN
</header>

<nav class="navegacion">
    <div>
        <form asp-action="Init">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <button name="pagina" class="pasive" type="submit"><h2>Administrar</h2></button>
        </form>
        <p style="color:white;">____</p>
        <button name="pagina" class="active" type="submit"><h2>Ver estadísticas</h2></button>
    </div>
</nav>

@foreach(var a in sol)
{
    <section class="dataToShow">
        <div>
            <div>Aeropuerto: Jose Marti</div>
            <div>Direccion: 2893 /8d3 y 2</div>
            <div>Coordenadas: 192.168.4.64</div>
        </div>
        <div class="tag">
            <aside>
                <div>Numero de instalaciones: 4</div>
                <div>Reparaciones disponibles: 5</div>
                <div>Cantidad de servicios ofertados: 20</div>
                <div>Cantidad de empleados: 60</div>
            </aside>
        </div>
    </section>    
}

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}