<header>
    AIRCOM
</header>

<nav>
    <h4> AEROPUERTO: @ViewBag.Aeropuerto > USUARIO: @ViewBag.Usuario</h4>
    <form asp-controller="Mechanic" asp-action="Index">
        <div>
            <div><button class="yes" type="submit" name="page" value="1">❗</button></div>
            <div><button class="no" type="submit" name="page" value="2">🛠️</button></div>
            <div><button class="no" type="submit" name="page" value="3">✉️</button></div>
            <button method="get" asp-controller="Home" asp-action="Index" name="deleteCookie" value="true" class="badboton">📴</button>
        </div>
    </form>
</nav>

<h1>Crear Reparación:</h1>
<form>
    <section>
        <center>

    <div style="display:flex; justify-content:space-between; font-size:large">
        <div>
            Matrícula de la nave:
            <select name="plate">
                <option>3789ruire</option>
                <option>3789ruire</option>
                <option>3789ruire</option>
            </select>
            Estado: Pésimo
        </div>
        <div>
            Instalación donde se realizará la reparación:
            <select name="Instalation">
                <option>Instalación #1</option>
                <option>Instalación #2</option>
                <option>Instalación #3</option>
            </select>
        </div>
    </div>
    <div style="display:flex; flex-wrap:wrap; justify-content:space-around;border:grey solid 2px; margin:1%">
        @foreach(var k in "9huibaerfy9huewr9huiergohnjigewh0uihi")
        {
            <label style="margin:1%"><input type="checkbox"/> Reparacion capital</label>
        }
    </div>
    <div>
        Fecha de terminación:
        <input type="date" name="date"/>
        Cantidad de horas que se emplearán:
        <input type="number" min="0"/>
        <button class="boton" type="submit">Reparar</button>
    </div>
        </center>
    </section>
</form>
