@{
    int p = 0;
    int[] sol = new int[] { 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1 };
    string Cuadrado(int x) => p == x ? "active" : "pasive";
    int a = 0;
    string error = "Esta persona ya existe";
}

<header style="background:darkred;">
    AIRCOM ADMIN
</header>


@if (p == 0)
{
    <main>
        <center>
            <h1 style="margin:5%; color:darkred;text-decoration:underline ">Bienvenido a la administración de AIRCOM</h1>
            <h3> Por favor inicie sesión</h3>

            <div>
                <form method="post" name="login">
                    <div>
                        <div>Introduzca Contraseña:</div>
                        <div>
                            <input type="password" name="contraseña" placeholder="introduzca contraseña">
                            <button class="badboton" type="submit">Entrar</button>
                        </div>
                    </div>
                    @if (a == 1)
                    {
                        <aside class="error">
                            @error
                        </aside>
                    }
                </form>
            </div>

        </center>
    </main>
}

@if (p == 1 || p == 2)
{
    @* Barra de navegacion *@
    <nav class="navegacion">
        <form method="post" name="navegacion">
            <div>
                <button name="pagina" value="1" class=@Cuadrado(1) type="submit"><h2>Administrar</h2></button>
                <p style="color:white;">____</p>
                <button name="pagina" value="2" class=@Cuadrado(2) type="submit"><h2>Ver estadísticas</h2></button>
            </div>
        </form>
    </nav>
}


@* Pagina 1 Administrar *@
@if (p == 1)
{
    <section>
        @*Primer formulario: Añadir Aeropuerto*@
        <details>
            <summary>Añadir Aeropuerto</summary>
            <center>
                <form class="formulario" name="Aeropuerto" method="post">
                    @*Aqui son los datos del aeropuerto, este no debe figurar en la base de datos*@
                    <table>
                        <tr>
                            <td>nombre: </td>
                            <td><input type="text" placeholder="introduzca nombre" name="nombreAeropuerto" required></td>
                        </tr>
                        <tr>
                            <td>Coordenadas geográficas </td>
                            <td><input type="text" placeholder="introduzca coordenadas" name="Coordenadas" required></td>
                        </tr>
                        <tr>
                            <td>Dirección: </td>
                            <td><input type="text" placeholder="introduzca dirección" name="Dirección" required></td>
                        </tr>
                    </table>
                    @*Aqui van los datos del guardia de seguridad, este no debe figurar en la base de datos*@
                    <h3>Empleado de Seguridad</h3>
                    <table>
                        <tr>
                            <td>nombre: </td>
                            <td><input type="text" placeholder="introduzca nombre" name="nombreSeguridad" required></td>
                        </tr>
                        <tr>
                            <td>Correo electrónico: </td>
                            <td><input type="email" placeholder="introduzca su correo" name="correo" required></td>
                        </tr>
                        <tr>
                            <td>Carnet de identidad: </td>
                            <td><input type="text" placeholder="Introduzca ID" pattern="[0-9]{1,}" title="Debe ser numero" name="IDSeguridad" required></td>
                        </tr>
                        <tr>
                            <td>Contraseña: </td>
                            <td><input type="password" placeholder="Introduzca contraseña" name="IDSeguridad" required></td>
                        </tr>
                        <tr>
                            <td>Comprobar contraseña: </td>
                            <td><input type="password" placeholder="Repita contraseña" name="IDSeguridad" required></td>
                        </tr>
                    </table>
                    @*Aqui va un mensaje de error si lo hay. a y error deben ser cambiados por atributos que se pasen*@
                    @if (a == 1)
                    {
                        <aside class="error">
                            @error
                        </aside>
                    }
                    <button class="boton" type="submit">Enviar</button>
                </form>
            </center>
        </details>

        @*Segundo formulario: Crear/Editar tipo de reparación*@
        <details>
            <summary>Crear/Editar tipo de reparación</summary>
            <center>
                <form class="formulario" name="Reparacion" method="post">
                    <div><input name="nombre" placeholder="Introducir nombre" required></div>
                    <div><textarea name="descipcion" placeholder="Introducir descripcion" required></textarea></div>
                    @*Si el nombre existe, se edita la descripcion, sino se crea la reparacion*@
                    <div><button class="boton" type="submit">Enviar</button></div>
                </form>
            </center>
        </details>

        @*Tercer formulario: Añadir Dependencia de reparación*@
        <details>
            <summary>Añadir Dependencia de reparación</summary>
            <center>
                <form class="formulario" name="dependencia" method="post">
                    <table>
                        <tr>
                            <td>Dependiente: </td>
                            <td>
                                <select name="dependiente">
                                    @foreach (var item in sol)
                                    {
                                        <option value="a">Reparacion capital</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            @*Estos son los unicos posibles estados de una nave*@
                            <td>Estado necesario: </td>
                            <td>
                                <select name="estado">
                                    <option value="Óptimo">Óptimo</option>
                                    <option value="Bien">Bien</option>
                                    <option value="Regular">Regular</option>
                                    <option value="Mal">Mal</option>
                                    <option value="Pésimo">Pésimo</option>

                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Dependencia: </td>
                            <td>
                                <select name="Dependencia">
                                    @foreach (var item in sol)
                                    {
                                        <option value="a">Cambiar turbinas</option>
                                    }
                                </select>
                            </td>
                        </tr>
                    </table>
                    @*Aqui va un mensaje de error si lo hay. a y error deben ser cambiados por atributos que se pasen*@
                    @if (a == 3)
                    {
                        <aside class="error">
                            @error
                        </aside>
                    }
                    <button class="boton" type="submit">Enviar</button>
                </form>
            </center>
        </details>

        <center><h1>Region peligrosa, proceda con cuidado</h1></center>

        @*Cuarto Formulario: Eliminar Aeropuerto*@
        <details class="dangerousZone">
            <summary>Eliminar aeropuerto</summary>
            <center>
                <form class="formulario" name="EliminarAeropuerto" method="post">
                    Nombre del aeorpuerto
                    <input type="text" name="nombreAeropuerto" placeholder="Introduzca nombre" required>
                    <div class="error">
                        Nota*: Al desactivar un aeropuerto se mantiene su informacion asociada como el historial en la base de datos
                        Al eliminar se elimina tambien todo rastro de este en la base de datos
                    </div>
                    @*Aqui va un mensaje de error si lo hay. a y error deben ser cambiados por atributos que se pasen*@
                    @if (a == 4)
                    {
                        <aside class="error">
                            @error
                        </aside>
                    }
                    <div>
                        <button class="boton" name="Cascada" value="false" type="submit">Desactivar</button>
                        <button class="badboton" name="Cascada" value="false" type="submit">Eliminar</button>
                    </div>
                </form>
            </center>
        </details>

        @*Quinto Formulario: Eliminar Reparacion*@
        <details class="dangerousZone">
            <summary>Eliminar Reparación</summary>
            <center>
                <form class="formulario" name="EliminarReparacion" method="post">
                    Nombre
                    <input type="text" name="nombreReparacion" placeholder="Introduzca nombre" required>
                    <div class="error">
                        Nota*: Al desactivar un aeropuerto se mantiene su informacion asociada como el historial en la base de datos
                        Al eliminar se elimina tambien todo rastro de este en la base de datos
                    </div>
                    @*Aqui va un mensaje de error si lo hay. a y error deben ser cambiados por atributos que se pasen*@
                    @if (a == 5)
                    {
                        <aside class="error">
                            @error
                        </aside>
                    }
                    <div>
                        <button class="boton" name="Cascada" value="false" type="submit">Desactivar</button>
                        <button class="badboton" name="Cascada" value="false" type="submit">Eliminar</button>
                    </div>
                </form>
            </center>
        </details>


        @*Sexto formulario: Eliminar Dependencia de reparación*@
        <details class="dangerousZone">
            <summary>Eliminar Dependencia de reparación</summary>
            <center>
                <form class="formulario" name="dependencia" method="post">
                    <table>
                        <tr>
                            <td>Dependiente: </td>
                            <td>
                                <select name="dependiente">
                                    @foreach (var item in sol)
                                    {
                                        <option value="a">Reparacion capital</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            @*Estos son los unicos posibles estados de una nave*@
                            <td>Estado necesario: </td>
                            <td>
                                <select name="estado">
                                    <option value="Óptimo">Óptimo</option>
                                    <option value="Bien">Bien</option>
                                    <option value="Regular">Regular</option>
                                    <option value="Mal">Mal</option>
                                    <option value="Pésimo">Pésimo</option>

                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Dependencia: </td>
                            <td>
                                <select name="Dependencia">
                                    @foreach (var item in sol)
                                    {
                                        <option value="a">Cambiar turbinas</option>
                                    }
                                </select>
                            </td>
                        </tr>
                    </table>
                    @*Aqui va un mensaje de error si lo hay. a y error deben ser cambiados por atributos que se pasen*@
                    @if (a == 6)
                    {
                        <aside class="error">
                            @error
                        </aside>
                    }
                    <button class="badboton" type="submit">Eliminar</button>
                </form>
            </center>
        </details>
    </section>
}
