@model Register

<header>
    AIRCOM
</header>

<main id="LOGIN">
    <center>
        <h1>Inicie sesión</h1>

        <div>
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <div>Correo:</div>
                    <div>
                        <input type='email' name='email' class="form-control" placeholder="introduzca su correo" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div>Contraseña:</div>
                    <div class="ignorar">___</div>
                    <div>
                        <input type="password" name="Pwd" class="form-control" placeholder="introduzca contraseña" />
                        <span asp-validation-for="Pwd" class="text-danger"></span>
                    </div>
                </div>

                @if (ViewBag.check)
                {
                    <aside class="error">
                        @ViewBag.error
                    </aside>
                }

                
                    <center>
                        <input type="submit" value="Enviar" class="boton" />
                    </center>

            </form>
        </div>

    </center>
</main>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        console.log("pp");
        window.onunload = function () {
            DeleteCookie("UserData");
        };
    </script>
}
