@{
    //aqui cambiar a la variable que se me pase
    bool check = true;
    string error = "El usuario no existe";
}

<header>
    AIRCOM
</header>

<main id="LOGIN">
    <center>
        <h1>Inicie sesión</h1>

        <div>
            <form method="post" name="login">

                <div>
                    <div>Correo:</div>
                    <div>
                        <input type="email" name="correo" placeholder="introduzca su correo">
                    </div>
                </div>
                <div>
                    <div>Contraseña:</div>
                    <div class="ignorar">___</div>
                    <div>
                        <input type="password" name="contraseña" placeholder="introduzca contraseña">
                    </div>
                </div>
                @if (check)
                {
                    <aside class="error">
                        @error
                    </aside>
                }
                <div>
                    <section>
                        <h5>Rol</h5>
                        <div>
                            <div>
                                <div>
                                    <input type="radio" checked name="rol" value="Cliente"> Cliente
                                </div>
                                <div>
                                    <input type="radio" name="rol" value="Seguridad"> Seguridad
                                </div>
                            </div>
                            <div class="ignorar">__</div>
                            <div>
                                <div>
                                    <input type="radio" name="rol" value="Dirección"> Dirección
                                </div>
                                <div>
                                    <input type="radio" name="rol" value="Mecánico"> Mecánico
                                </div>
                            </div>
                        </div>
                    </section>
                    <div>
                        <button class="boton" type="submit">ENVIAR</button>
                    </div>

                    <div class="ignorar">_</div>
                </div>
            </form>
        </div>

    </center>
</main>
