@{
    int p = 4;
    int[] sol = new int[] { 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1 };
    string Cuadrado(int x) => p == x ? "yes" : "no";
    int b = 6;
    string error = "No hay avion con tal matricula en el aeropuerto";
}


<header>
    AIRCOM
</header>

@*barra de navegacion*@
<nav>
    <h4>AEROPUERTO > USUARIO</h4>
    <form method="post" name="SecurityPages">
        <div>
            <div><button class=@Cuadrado(1) type="submit" name="page" value="1">🕑</button></div>
            <div><button class=@Cuadrado(2) type="submit" name="page" value="2">✈️</button></div>
            <div><button class=@Cuadrado(3) type="submit" name="page" value="3">👨‍💼</button></div>
            <div><button class=@Cuadrado(4) type="submit" name="page" value="4">➕</button></div>
        </div>
    </form>
</nav>

@*Primera pagina, aviones en el aeropuerto*@
@if (p == 1)
{
    <center>
        <h1>Historial de vuelos del aeropuerto</h1>
        <table>
            @*Aqui modificar la cabecera para poder filtrar y ordenar la informacion*@
            <thead>
                <tr>
                    <th>
                        <center>
                            Tipo
                            <button class="no">🔽</button>
                        </center>
                    </th>
                    <th>
                        <center>
                            Fecha
                            <button class="no">🔽</button>
                        </center>
                    </th>
                    <th>
                        <center>
                            Matrícula
                            <button class="no">🔽</button>
                        </center>
                    </th>
                    <th>
                        <center>
                            Rol del Dueño
                            <button class="no">🔽</button>
                        </center>
                    </th>
                    <th>
                        <center>
                            Estado de la nave
                            <button class="no">🔽</button>
                        </center>
                    </th>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="🔍filtrar">
                    </td>
                    <td>
                        <input type="text" placeholder="🔍filtrar">
                    </td>
                    <td>
                        <input type="text" placeholder="🔍filtrar">
                    </td>
                    <td>
                        <input type="text" placeholder="🔍filtrar">
                    </td>
                    <td>
                        <input type="text" placeholder="🔍filtrar">
                    </td>
                </tr>
            </thead>
            @*Aqui modificar el cuerpo para ajustarlo a los datos*@
            <tbody>
                @foreach (var solicitud in sol)
                {
                    <tr>
                        <td><center>Salida</center></td>
                        <td><center>06/10/2023</center></td>
                        <td><center>251615</center></td>
                        <td><center>Capitán</center></td>
                        <td><center>BIEN</center></td>
                    </tr>
                }
            </tbody>
        </table>
    </center>
}


@*Segunda pagina, aviones en el aeropuerto*@
@if (p == 2)
{

    <div style="display:flex;justify-content:space-between; margin:0% 2%; align-items:center;">
        <div><h1>Naves</h1></div>
        @*Adaptar para permitir filtrado*@
        <div><input type="text" placeholder="🔍buscar"></div>
    </div>

    @*Adaptar a la entrada*@
    @foreach (var solicitud in sol)
    {
        <section class="dataToShow">
            <div style="display: flex;">
                <div>Matricula: aaaaaaaa</div>
                <div>Estado: asadasdsd</div>
                <div>ID Propietario: 90121212345</div>

            </div>
            <div class="tag">
                <aside>
                    <div><h4>Características:</h4></div>
                    <div><strong>Modelo:</strong> aireasdsd</div>
                    <div><strong>Capacidad de carga:</strong> 20 ton</div>
                    <div><strong>Cantidad de tripulantes:</strong> 10</div>
                    <div><strong>Cantidad de pasajeros:</strong> 50</div>
                </aside>
                <div>
                    <div>Fecha de salida programada:</div>
                    <div>1/12/2024</div>
                    <form method="post">
                        @*link a vista especial, cambiar para enviarle la matricula del avion*@
                        <button class="boton" type="submit">
                            Ver historial
                        </button>
                        @*link a pagina 4, cambiar para enviarle la matricula del avion*@
                        <button class="boton" type="submit">
                            Solicitar reparación
                        </button>
                    </form>
                </div>
            </div>
        </section>
    }
}

@*Tercera pagina, personal del aeropuerto y clientes*@
@if (p == 3)
{
    <details class="persons">
        <summary>Ver Clientes</summary>
        <center>
            <table>
                @*Hacer la cabeza interactiva*@
                <thead>
                    <tr>
                        <th>
                            <center>
                                Carnet de Identidad
                                <button class="no">🔽</button>
                            </center>
                        </th>
                        <th>
                            <center>
                                Nombre
                                <button class="no">🔽</button>
                            </center>
                        </th>
                        <th>
                            <center>
                                Correo electrónico
                                <button class="no">🔽</button>
                            </center>
                        </th>
                        <th>
                            <center>
                                Nacionalidad
                                <button class="no">🔽</button>
                            </center>
                        </th>
                        <th>
                            <center>
                                Tipo
                                <button class="no">🔽</button>
                            </center>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" placeholder="🔍filtrar">
                        </td>
                        <td>
                            <input type="text" placeholder="🔍filtrar">
                        </td>
                        <td>
                            <input type="text" placeholder="🔍filtrar">
                        </td>
                        <td>
                            <input type="text" placeholder="🔍filtrar">
                        </td>
                        <td>
                            <input type="text" placeholder="🔍filtrar">
                        </td>
                    </tr>
                </thead>
                @*Vincular con los datos*@
                <tbody>

                    @foreach (var solicitud in sol)
                    {
                        <tr>
                            <td><center>63122511615</center></td>
                            <td><center>Alan Brito Prieto</center></td>
                            <td><center>laput@@mail.com</center></td>
                            <td><center>Cuba</center></td>
                            <td><center>VIP</center></td>
                        </tr>
                    }
                </tbody>

            </table>
        </center>
    </details>

    <details class="persons">
        <summary>Ver Trabajadores</summary>
        <center>
            <table>
                @*Hacer la cabeza interactiva*@
                <thead>
                    <tr>
                        <th>
                            <center>
                                Ocupación
                                <button class="no">🔽</button>
                            </center>
                        </th>
                        <th>
                            <center>
                                Carnet de Identidad
                                <button class="no">🔽</button>
                            </center>
                        </th>
                        <th>
                            <center>
                                Nombre
                                <button class="no">🔽</button>
                            </center>
                        </th>
                        <th>
                            <center>
                                Correo electrónico
                                <button class="no">🔽</button>
                            </center>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" placeholder="🔍filtrar">
                        </td>
                        <td>
                            <input type="text" placeholder="🔍filtrar">
                        </td>
                        <td>
                            <input type="text" placeholder="🔍filtrar">
                        </td>
                        <td>
                            <input type="text" placeholder="🔍filtrar">
                        </td>
                    </tr>
                </thead>

                @*Vincular con los datos*@
                <tbody>
                    @foreach (var solicitud in sol)
                    {
                        <tr>
                            <td><center>Seguridad</center></td>
                            <td><center>63122511615</center></td>
                            <td><center>Armando Paredes del Castillo </center></td>
                            <td><center>armapared@@gmail.com</center></td>
                        </tr>
                    }
                </tbody>

            </table>
        </center>
    </details>
}

@*Formularios de seguridad*@
@if (p == 4)
{
    <section>

        @*Zona de adicion de informacion*@

        @*Agregar usuario*@
        <details>
            <summary>Añadir Cliente</summary>
            <center>
                <form class="formulario" method="post" name="NuevoCliente">
                    <table>
                        <tr>
                            <td>nombre: </td>
                            <td><input type="text" name="nombre" placeholder="introduzca nombre" required></td>
                        </tr>
                        <tr>
                            <td>Dirección de correo: </td>
                            <td><input type="email" name="email" placeholder="correo electrónico" required></td>
                        </tr>
                        <tr>
                            <td>Carnet de identidad: </td>
                            <td><input type="text" pattern="[0-9]{1,}" placeholder="introduzca ID" required></td>
                        </tr>
                        <tr>
                            <td>Nacionalidad: </td>
                            <td><input type="text" name="nacionalidad" placeholder="introduzca el país" required></td>
                        </tr>
                        <tr>
                            <td>Tipo de cliente: </td>
                            <td>
                                <select name="tipo">
                                    <option value="VIP">VIP</option>
                                    <option value="Dueño de naves">Dueño de naves</option>
                                    <option value="Patrocinador">Patrocinador</option>
                                    <option value="Empresa de viajes">Empresa de viajes</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Contraseña: </td>
                            <td><input type="password" name="contraseña" placeholder="introduzca contraseña" required></td>
                        </tr>
                        <tr>
                            <td>Comprobar contraseña: </td>
                            <td><input type="password" placeholder="repita contraseña" required></td>
                        </tr>
                    </table>
                    @if (b == 1)
                    {
                        <aside class="error">
                            @error
                        </aside>
                    }
                    <button class="boton" type="submit">Enviar</button>
                </form>
            </center>
        </details>
        @*Agregar trabajador*@
        <details>
            <summary>Añadir Trabajador</summary>
            <center>
                <form class="formulario" method="post" name="NuevoEmpleado">
                    <table>
                        <tr>
                            <td>nombre: </td>
                            <td><input type="text" name="nombre" placeholder="introduzca nombre" required></td>
                        </tr>
                        <tr>
                            <td>Dirección de correo: </td>
                            <td><input type="email" name="email" placeholder="correo electrónico" required></td>
                        </tr>
                        <tr>
                            <td>Carnet de identidad: </td>
                            <td><input type="text" name="ID" pattern="[0-9]{1,}" placeholder="introduzca ID" required></td>
                        </tr>
                        <tr>
                            <td>Puesto: </td>
                            <td>
                                <select>
                                    <option value="Seguridad">Seguridad</option>
                                    <option value="Dirección">Dirección</option>
                                    <option value="Mecánico">Mecánico</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Contraseña: </td>
                            <td><input type="password" name="contraseña" placeholder="introduzca contraseña" required></td>
                        </tr>
                        <tr>
                            <td>Comprobar contraseña: </td>
                            <td><input type="password" placeholder="repita contraseña" required></td>
                        </tr>
                    </table>
                    @if (b == 2)
                    {
                        <aside class="error">
                            @error
                        </aside>
                    }
                    <button class="boton" type="submit">Enviar</button>
                </form>
            </center>
        </details>
        @*Agregar Nave*@
        <details>
            <summary>Añadir Nave</summary>
            <center>
                <form class="formulario" method="post" name="NuevaNave">
                    <table>
                        <tr>
                            <td>Matrícula: </td>
                            <td><input type="text" name="Matricula" placeholder="Introduzca Matrícula" required></td>
                        </tr>
                        <tr>
                            <td>ID Dueño(opcional): </td>
                            <td><input type="text" name="ID" pattern="[0-9]{1,}" placeholder="introduzca ID"></td>
                        </tr>
                        <tr>
                            <td>Modelo: </td>
                            <td><input type="text" name="Modelo" placeholder="Introduzca Modelo" required></td>
                        </tr>
                        <tr>
                            <td>Capacidad de carga (en toneladas): </td>
                            <td><input type="number" name="Capacidad" min="0" required></td>
                        </tr>
                        <tr>
                            <td>Cantidad de tripulación: </td>
                            <td><input type="number" name="tripulacion" min="0" required></td>
                        </tr>
                        <tr>
                            <td>Cantidad de pasajeros: </td>
                            <td><input type="number" name="pasajeros" min="0" required></td>
                        </tr>
                    </table>
                    @if (b == 3)
                    {
                        <aside class="error">
                            @error
                        </aside>
                    }
                    <button type="submit" class="boton">Enviar</button>
                </form>
            </center>
        </details>
        @*Solicitar reparacion*@
        <details>
            <summary>Solicitar Reparación</summary>
            <center>
                <form class="formulario" method="post" name="SolicitarReparacion">
                    <table>
                        <tr>
                            <td>Matrícula: </td>
                            <td><input type="text" name="Matricula" placeholder="Introduzca Matrícula" required></td>
                        </tr>
                        <tr>
                            <td>Instalación de la reparación </td>
                            <td>
                                <select name="Instalacion" required>
                                    @foreach (var item in sol)
                                    {
                                        <option>Instalacion #1</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Tipo de reparación: </td>
                            <td>
                                <select name="Tipo">
                                    @foreach (var item in sol)
                                    {
                                        <option>Reparacion capital</option>
                                    }
                                </select>
                            </td>
                        </tr>
                    </table>
                    @if (b == 4)
                    {
                        <aside class="error">
                            @error
                        </aside>
                    }
                    <button class="boton" type="submit">Enviar</button>
                </form>
            </center>
        </details>
        @*Registrar Arribo*@
        <details>
            <summary>Registrar Arribo</summary>
            <center>
                <form class="formulario" name="Arribo" method="post">
                    <table>
                        <tr>
                            <td>Matricula: </td>
                            <td><input type="text" name="Matricula" placeholder="Introduzca Matrícula" required></td>
                        </tr>
                        <tr>
                            <td>Rol del dueño:</td>
                            <td>
                                <select>
                                    <option>Capitan</option>
                                    <option>Pasajero</option>
                                    <option>Copiloto</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Estado de la nave: </td>
                            <td>
                                <select>
                                    <option>Óptimo</option>
                                    <option>Bien</option>
                                    <option>Regular</option>
                                    <option>Mal</option>
                                    <option>Pésimo</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Próximo vuelo:</td>
                            <td>
                                <input type="date" name="Fecha" required
                                       min="@DateTime.Now.Date.ToString().Split().First()">
                            </td>
                        </tr>
                    </table>
                    @if (b == 5)
                    {
                        <aside class="error">
                            El proximo vuelo debe ser en el futuro
                        </aside>
                    }
                    <button class="boton" type="submit">Enviar</button>
                </form>
            </center>
        </details>

        <center><h1>Zona Peligrosa</h1></center>

        @*Cambiar nombre al aeropuerto*@
        <details class="dangerousZone">
            <summary>Cambiar nombre al aeropuerto</summary>
            <form class="formulario" method="post" name="NombreAeropuerto">
                <center>
                    <input type="text" name="nombre" placeholder="introduzca nuevo nombre" required>
                    <button class="goodboton" type="submit">Cambiar Nombre</button>
                </center>
            </form>
        </details>
        @*Editar informacion de usuario*@
        <details class="dangerousZone">
            <summary>Editar informacion de cliente o trabajador</summary>
            <center>
                <form class="formulario" name="EditInfo" method="post">
                    <table>
                        <tr>
                            <td>Carnet de identidad: </td>
                            <td><input type="text" name="ID" pattern="[0-9]{1,}" placeholder="introduzca ID" required></td>
                        </tr>
                        <tr>
                            <td>Cambiar tipo: </td>
                            <td>
                                <select>
                                    <option>VIP</option>
                                    <option>Dueño de naves</option>
                                    <option>Patrocinador</option>
                                    <option>Empresa de viajes</option>
                                    <option>Seguridad</option>
                                    <option>Direccion</option>
                                    <option>Mecanico</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>Cambiar Contraseña: </td>
                            <td><input type="password" name="contraseña" placeholder="introduzca contraseña"></td>
                        </tr>
                        <tr>
                            <td>Comprobar nueva contraseña: </td>
                            <td><input type="password" placeholder="repita contraseña"></td>
                        </tr>
                    </table>
                    @if (b == 6)
                    {
                        <aside class="error">
                            @error
                        </aside>
                    }

                    <button class="goodboton" type="submit">Cambiar rol</button>
                    <button class="boton" type="submit">Cambiar Contraseña</button>
                    <button class="badboton" type="submit">Eliminar usuario</button>
                </form>
            </center>
        </details>
        @*Editar nave*@
        <details class="dangerousZone">
            <summary>Editar información de una nave</summary>
            <form class="formulario" method="post" name="EditarNave">
                <center>
                    <table>
                        <tr>
                            <td>Matricula: </td>
                            <td><input type="text" name="Matricula" placeholder="Introduzca Matrícula" required></td>
                        </tr>
                        <tr>
                            <td>Cambiar dueño: </td>
                            <td><input type="text" pattern="[0-9]{1,}" name="IDDueño" placeholder="ID del nuevo dueño"></td>
                        </tr>
                    </table>
                    @if (b == 7)
                    {
                        <aside class="error">
                            @error
                        </aside>
                    }
                    <center class="error">Si se cambia de dueño y no se asume ID entonces la nave dejará de tener dueño</center>
                    <button class="goodboton" type="submit">Cambiar dueño</button>
                    <button class="badboton" type="submit">Eliminar nave</button>
                </center>
            </form>
        </details>
    </section>
}
@{
    int p = 4;
    int[] sol = new int[] { 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1 };
    bool a = false;
    string Cuadrado(int x) => p == x ? "yes" : "no";
    string SeeMore() => a ? ("") : ("display:none;");
}


<header>
    AIRCOM
</header>

<nav>
    <h4>AEROPUERTO > USUARIO</h4>
    <form method="post" name="SecurityPages">
        <div>
            <div><button class=@Cuadrado(1) type="submit" name="page" value="1">🕑</button></div>
            <div><button class=@Cuadrado(2) type="submit" name="page" value="2">✈️</button></div>
            <div><button class=@Cuadrado(3) type="submit" name="page" value="3">👨‍💼</button></div>
            <div><button class=@Cuadrado(4) type="submit" name="page" value="4">➕</button></div>
        </div>
    </form>
</nav>

@if (p == 1)
{
    <center>
        <h1>Historial</h1>
        <table>
            <tr>
                <th>
                    <center>
                        Fecha de arribo
                        <button class="no">🔽</button>
                    </center>
                </th>
                <th>
                    <center>
                        Matrícula
                        <button class="no">🔽</button>
                    </center>
                </th>
                <th>
                    <center>
                        Rol del Dueño
                        <button class="no">🔽</button>
                    </center>
                </th>
                <th>
                    <center>
                        Estado de la nave
                        <button class="no">🔽</button>
                    </center>
                </th>
                <th>
                    <center>
                        Próximo vuelo
                        <button class="no">🔽</button>
                    </center>
                </th>
            </tr>
            <tr>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
            </tr>
            @foreach (var solicitud in sol.Take(10))
            {
                <tr>
                    <td><center>06/10/2023</center></td>
                    <td><center>251615</center></td>
                    <td><center>Capitán</center></td>
                    <td><center>BIEN</center></td>
                    <td><center>06/01/2024</center></td>
                </tr>
            }
            @foreach (var solicitud in sol.Skip(10))
            {
                <tr style=@SeeMore()>
                    <td><center>06/10/2023</center></td>
                    <td><center>251615</center></td>
                    <td><center>Capitán</center></td>
                    <td><center>BIEN</center></td>
                    <td><center>06/01/2024</center></td>
                </tr>
            }
        </table>
        @if (!a)
        {
            <button class="boton">🔽 Ver el resto de los registros 🔽</button>
        }
    </center>
}

@if (p == 2)
{

    <div style="display:flex;justify-content:space-between; margin:0% 2%; align-items:center;">
        <div><h1>Aviones en el aeropuerto</h1></div>
        <div><input type="text" placeholder="🔍buscar"></div>
    </div>
    @foreach (var solicitud in sol)
    {
        <section class="dataToShow">
            <div style="display: flex;">
                <div>Matricula: aaaaaaaa</div>
                <div>Estado: asadasdsd</div>
                <div>ID Propietario: 90121212345</div>

            </div>

            <div class="tag">
                <aside>
                    <div><h4>Características:</h4></div>
                    <div><strong>Modelo:</strong> aireasdsd</div>
                    <div><strong>Capacidad de carga:</strong> 20 ton</div>
                    <div><strong>Cantidad de tripulantes:</strong> 10</div>
                    <div><strong>Cantidad de pasajeros:</strong> 50</div>
                </aside>
                <div>
                    <div>Fecha de salida programada:</div>
                    <div>1/12/2024</div>
                    <form method="post">
                        <button class="boton" type="submit">
                            Ver historial
                        </button>
                        <button class="boton" type="submit">
                            Solicitar reparación
                        </button>
                    </form>
                </div>
            </div>
        </section>
    }
}

@if (p == 3)
{
    <center>
        <h1>Personas</h1>
        <table>
            <tr>
                <th>
                    <center>
                        Rol
                        <button class="no">🔽</button>
                    </center>
                </th>
                <th>
                    <center>
                        Carnet de Identidad
                        <button class="no">🔽</button>
                    </center>
                </th>
                <th>
                    <center>
                        Nombre
                        <button class="no">🔽</button>
                    </center>
                </th>
                <th>
                    <center>
                        Nacionalidad
                        <button class="no">🔽</button>
                    </center>
                </th>
                <th>
                    <center>
                        Tipo
                        <button class="no">🔽</button>
                    </center>
                </th>
            </tr>
            <tr>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
            </tr>
            @foreach (var solicitud in sol.Take(10))
            {
                <tr>
                    <td><center>Cliente</center></td>
                    <td><center>63122511615</center></td>
                    <td><center>Alan Brito Prieto</center></td>
                    <td><center>Cuba</center></td>
                    <td><center>VIP</center></td>
                </tr>
            }
            @if (a)
            {
                @foreach (var solicitud in sol.Skip(10))
                {
                    <tr style=@SeeMore()>
                        <td><center>Cliente</center></td>
                        <td><center>63122511615</center></td>
                        <td><center>Alan Brito Prieto</center></td>
                        <td><center>Cuba</center></td>
                        <td><center>VIP</center></td>
                    </tr>
                }
            }
        </table>
        @if (!a)
        {
            <button class="boton">🔽 Ver el resto de los registros 🔽</button>
        }

    </center>
}

@if (p == 4)
{
    <section>
        <details>
            <summary>Añadir Cliente</summary>
            <center>
                <form class="formulario">
                    <table>
                        <tr>
                            <td>nombre: </td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Carnet de identidad: </td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Nacionalidad: </td>
                            <td><input type="text"></td>
                        </tr>
                        <td>Tipo de cliente: </td>
                        <td>
                            <select>
                                @foreach (var item in sol)
                                {
                                    <option>VIP</option>
                                }
                            </select>
                        </td>
                        <tr>
                            <td>Contraseña: </td>
                            <td><input type="password"></td>
                        </tr>
                        <tr>
                            <td>Comprobar contraseña: </td>
                            <td><input type="password"></td>
                        </tr>
                    </table>
                    @if (a)
                    {
                        <aside class="error">
                            Las contraseñas no coinciden
                        </aside>
                    }
                    <button class="boton">Enviar</button>
                </form>
            </center>
        </details>
        <details>
            <summary>Añadir Trabajador</summary>
            <center>
                <form class="formulario">
                    <table>
                        <tr>
                            <td>nombre: </td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Carnet de identidad: </td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Puesto: </td>
                            <td>
                                <select>
                                    <option>Seguridad</option>
                                    <option>Direccion</option>
                                    <option>Mecanico</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Contraseña: </td>
                            <td><input type="password"></td>
                        </tr>
                        <tr>
                            <td>Comprobar contraseña: </td>
                            <td><input type="password"></td>
                        </tr>
                    </table>
                    @if (a)
                    {
                        <aside class="error">
                            Las contraseñas no coinciden
                        </aside>
                    }
                    <button class="boton">Enviar</button>
                </form>
            </center>
        </details>
        <details>
            <summary>Añadir Nave</summary>
            <center>
                <form class="formulario">
                    <table>
                        <tr>
                            <td>Matricula: </td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>ID Dueño(opcional): </td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Modelo: </td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Capacidad de carga: </td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Cantidad de tripulacion: </td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Cantidad de pasajeros: </td>
                            <td><input type="text"></td>
                        </tr>
                    </table>
                    @if (a)
                    {
                        <aside class="error">
                            No hay cliente con dicho ID
                        </aside>
                    }
                    <button class="boton">Enviar</button>
                </form>
            </center>
        </details>
        <details>
            <summary>Solicitar Reparación</summary>
            <center>
                <form class="formulario">
                    <table>
                        <tr>
                            <td>Matricula: </td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Instalación de la reparación </td>
                            <td>
                                <select>
                                    @foreach (var item in sol)
                                    {
                                        <option>Instalacion #1</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Tipo de reparación: </td>
                            <td>
                                <select>
                                    @foreach (var item in sol)
                                    {
                                        <option>Reparacion capital</option>
                                    }
                                </select>
                            </td>
                        </tr>
                    </table>
                    @if (a)
                    {
                        <aside class="error">
                            No hay avion con tal matricula en el aeropuerto
                        </aside>
                    }
                    <button class="boton">Enviar</button>
                </form>
            </center>
        </details>
        <details>
            <summary>Registrar Arribo</summary>
            <center>
                <form class="formulario">
                    <table>
                        <tr>
                            <td>Matricula: </td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Rol del dueño:</td>
                            <td>
                                <select>
                                    @foreach (var item in sol)
                                    {
                                        <option>Capitan</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Estado de la nave: </td>
                            <td>
                                <select>
                                    @foreach (var item in sol)
                                    {
                                        <option>Reparacion capital</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Proximo vuelo: </td>
                            <td><input type="date"></td>
                        </tr>
                    </table>
                    @if (a)
                    {
                        <aside class="error">
                            El proximo vuelo debe ser en el futuro
                        </aside>
                    }
                    <button class="boton">Enviar</button>
                </form>
            </center>
        </details>
        <details style="background-color:lightgrey">
            <summary>Editar informacion de cliente o trabajador</summary>
            <center>
                <form class="formulario">
                    <table>
                        <tr>
                            <td>Carnet de identidad: </td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Cambiar Contraseña: </td>
                            <td><input type="password"></td>
                        </tr>
                        <tr>
                            <td>Comprobar contraseña: </td>
                            <td><input type="password"></td>
                        </tr>
                    </table>
                    @if (a)
                    {
                        <aside class="error">
                            El usuario no existe
                        </aside>
                    }
                    <button class="boton">Cambiar Contraseña</button>
                    <button class="boton" style="background-color:rgb(165,5,5)">Eliminar usuario</button>
                </form>
            </center>
        </details>
    </section>
}
